// ###################################################################################
// Application specific styling
// ###################################################################################
@import 'theme-vars.scss';

center-text {
  text-align: center;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

div.field-error {
  color: red;
}

legend.w-auto {
  font-size: 16px;
}

.radio-group label {
  margin-left: 10px;
}

form button {
  margin-right: 10px;
}

.border {
  border-radius: 0.25em;
}

.is-error fieldset {
  border: 1px solid red !important;
}
