// #############################################################################
// BRANDING COLOURS - based on UI Design Guidelines
// #############################################################################
$ha-clr-white: #fff;
$ha-clr-black: #000;
$ha-clr-dark-grey: #5b666d;
$ha-clr-grey: #bebfc7;
$ha-clr-light-grey: #f2f2f2;
$ha-clr-green: #68af04;
$ha-clr-purple: #a517aa;
$ha-clr-red: #ad1a1f;
$ha-clr-orange: #e86d1a;
$ha-clr-yellow: #f8b133;
$ha-clr-navy-blue: #072243;
$ha-clr-royal-blue: #024da1;
$ha-clr-mid-blue: #007ac3;
$ha-clr-light-blue: #d8f0fc;
// #############################################################################
// SPACES
// #############################################################################
$ha-gap-small: .25em;
$ha-gap-normal: .5em;
$ha-gap-large: 1em;
$ha-gap-xl: 2em;
// Turn off border-radius
$ha-border-radius: 0;
